html,
body {
  height: 100%;
  background-color: #181a1b;
}

.body-signin {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #181a1b;
}

.logo{
    font-family: Fjalla One;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.navbar-brand {
  color:white;
}