{% extends '../base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="body-signin text-center">
  <div class="jumbotron">
  <div class="container">
    <h1 class="logo">Créer un compte</h1>
    <form method="post" class="form-signin"  enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form-group">
      	{{ form | crispy }}
      </div>
      <input type="submit" value="S'enregistrer" />
    </form>
  </div>
  <a href="/">Se connecter</a>
</div>
</div>
{% endblock %}